NETACEA_INGEST_ENABLED=true
NETACEA_PROTECTION_MODE=INGEST
NETACEA_API_KEY=
NETACEA_COOKIE_ENCRYPTION_KEY=
NETACEA_COOKIE_NAME=_mitata
NETACEA_CAPTCHA_COOKIE_NAME=_mitatacaptcha
NETACEA_COOKIE_ATTRIBUTES=Max-Age=86400; Path=/;
NETACEA_CAPTCHA_COOKIE_ATTRIBUTES=Max-Age=86400; Path=/;
NETACEA_KINESIS_ACCESS_KEY=
NETACEA_KINESIS_BATCH_SIZE=
NETACEA_KINESIS_BATCH_TIMEOUT=
NETACEA_KINESIS_REGION=eu-west-1
NETACEA_KINESIS_SECRET_KEY=
NETACEA_KINESIS_STREAM_NAME=
NETACEA_PROTECTOR_API_URL=
NETACEA_REAL_IP_HEADER_INDEX=
NETACEA_REAL_IP_HEADER=
NETACEA_SECRET_KEY=
