version: '3.5'

services:
  resty:
    image: lua_resty_netacea:latest
    build:
      dockerfile: Dockerfile
      context: .
      target: build
    container_name: resty
    ports:
     - "8080:80"
     - "443:443"
    volumes:
     - "./src/conf/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf"
     - "./src/lua_resty_netacea.lua:/usr/local/openresty/site/lualib/lua_resty_netacea.lua"
     - "./src/lua_resty_netacea_cookies_v3.lua:/usr/local/openresty/site/lualib/lua_resty_netacea_cookies_v3.lua"
     - "./src/kinesis_resty.lua:/usr/local/openresty/site/lualib/kinesis_resty.lua"
     - "./src/lua_resty_netacea_ingest.lua:/usr/local/openresty/site/lualib/lua_resty_netacea_ingest.lua"
     - "./src/netacea_utils.lua:/usr/local/openresty/site/lualib/netacea_utils.lua"
     - "./src/lua_resty_netacea_constants.lua:/usr/local/openresty/site/lualib/lua_resty_netacea_constants.lua"
     - "./src/lua_resty_netacea_protector_client.lua:/usr/local/openresty/site/lualib/lua_resty_netacea_protector_client.lua"     
     

  test:
    build:
      dockerfile: Dockerfile
      context: .
      target: test
    volumes:
      - "./src:/usr/src/src"
      - "./test:/usr/src/test"

  lint:
    build:
      dockerfile: Dockerfile
      context: .
      target: lint
    volumes:
      - "./.luacheckrc:/usr/src/.luacheckrc"
      - "./src:/usr/src/src"
      - "./test:/usr/src/test"

  nginx_lua:
    build:
      dockerfile: Dockerfile.nginx_lua
      context: .
    ports:
        - "80:80"
    volumes:
      - "./.luacheckrc:/usr/src/.luacheckrc"
      - "./src:/usr/src/src"
      - "./test:/usr/src/test"
      - "./run_lua_tests.sh:/usr/src/run_lua_tests.sh"
      - "./src/conf/:/opt/nginx/conf/"
      - "./src/lua_resty_netacea.lua:/usr/local/share/lua/5.1/lua_resty_netacea.lua"
    security_opt:
      - seccomp:unconfined
    command: sh -c '/opt/nginx/sbin/nginx && tail -f /opt/nginx/logs/access.log'
