name: lua-resty-netacea-build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Test
        run: |
          docker build --target test -t lua-resty-netacea-test .
          docker run --rm lua-resty-netacea-test
      - name: Lint
        run: |
          docker build --target lint -t lua-resty-netacea-lint .
          docker run --rm lua-resty-netacea-lint
      